@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Define design tokens using the @theme directive */
@theme {
  /* Light mode */
  --background: 255 100% 100%; /* White */
  --primary-foreground: 0 0% 10%; /* Near black */
  --secondary-foreground: 220 9% 46%; /* Light gray  (#9ca3af) equivalent */
  --accent-foreground: 220 98% 40%; /* Strong blue (#0137c1) */
  --card: 0 0% 98%; /* Very light gray  */
  --button-background: 0 0% 90%; /* Light gray */
  --radius: 0.5rem;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
}

:root {
  --background: oklch(1 0 0);
  --primary-foreground: oklch(0.145 0 0);
  --secondary-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.48 0.16 264);
  --card: oklch(0.98 0 0);
  --button-background: oklch(0.9 0 0);
  --radius: 0.5rem;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
}

.dark {
  /* Dark mode */
  --background: oklch(0.145 0 0); /* #121212 dark background */
  --primary-foreground: oklch(1 0 0); /* White */
  --secondary-foreground: oklch(0.556 0 0); /* Same #9ca3af for secondary  */
  --accent-foreground: oklch(0.48 0.16 264); /* Strong blue */
  --card: oklch(0.2 0 0); /* #1c1c1c card background */
  --button-background: oklch(0.2 0 0); /* same #1c1c1c  */
}

@theme inline {
  --color-background: var(--background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-button-background: var(--button-background);
  --color-border: var(--border);
  --color-input: var(--input);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary-foreground font-sans;
  }
}
