@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Define design tokens using the @theme directive */
@theme {
  /* Light mode */
  --primary-blue: #0037c1;
  --secondary-blue: #111111;
  --dark-bg: #1c1c1c;
  --border-color: #2a2a2a;

  --background: 255 100% 100%; /* White */
  --primary-foreground: 0 0% 10%; /* Near black */
  --secondary-foreground: 220 9% 46%; /* Light gray (#9ca3af) */
  --accent-foreground: var(--primary-blue);
  --card: 0 0% 98%; /* Very light gray */
  --button-background: 0 0% 90%; /* Light gray */
  --radius: 0.5rem;
  --border: var(--border-color);
  --input: var(--border-color);
}

:root {
  --primary-blue: #0037c1;
  --secondary-blue: #2563eb;
  --dark-bg: #111111;
  --border-color: #2a2a2a;

  --background: #ffffff;
  --primary-foreground: #1a1a1a;
  --secondary-foreground: #9ca3af;
  --accent-foreground: var(--primary-blue);
  --card: #f7f7f7;
  --button-background: #e5e5e5;
  --radius: 0.5rem;
  --border: var(--border-color);
  --input: var(--border-color);
}

.dark {
  --background: var(--dark-bg);
  --primary-foreground: #ffffff;
  --secondary-foreground: #949393;
  --accent-foreground: var(--primary-blue);
  --card: #1c1c1c;
  --button-background: #3d3c3c;
  --border: var(--border-color);
  --input: var(--border-color);
}

@theme inline {
  --color-background: var(--background);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-button-background: var(--button-background);
  --color-border: var(--border);
  --color-input: var(--input);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary-foreground font-sans;
    margin: 0;
    padding: 0;
  }
}
